:root.theme-dark {
  --accent-color: #00cc14;
  --bg-color: #000;
  --animation-contour-color: #00cc14;
  --body-pattern: url('../svg/pattern-dark.svg');
  --main-card-font-weight: 465;
  --card-title-font-weight: 785;
}

:root.theme-light {
  --accent-color: #000;
  --bg-color: #fff;
  --main-card-font-weight: 400;
  --card-title-font-weight: 700;
  --animation-contour-color: #000;
  --body-pattern: url('../svg/pattern-light.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00cc14;
    --bg-color: #000;
    --animation-contour-color: #00cc14;
    --body-pattern: url('../svg/pattern-dark.svg');
    --main-card-font-weight: 465;
    --card-title-font-weight: 785;
  }
}
